<div *ngIf="lang != null" class="all">
  <nav class="navbar fixed-top navbar-dark bg">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/imgs/logo.png" class="logo">
      </a>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="email" placeholder={{lang.email}}>
        <input class="form-control mr-sm-2" type="password" placeholder={{lang.pass}}>
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{{lang.login}}</button>
        <a class="forget" href="#">{{lang.forgetPass}}</a>
      </form>
    </div>
  </nav>

  <div class="body">
    <nav class="navbar navbar-dark bg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/imgs/logo.png" class="logo">
        </a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="email" placeholder={{lang.email}}>
          <input class="form-control mr-sm-2" type="password" placeholder={{lang.pass}}>
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">{{lang.login}}</button>
          <a class="forget" href="#">{{lang.forgetPass}}</a>
        </form>
      </div>
    </nav>
    <app-register></app-register>
  </div>

</div>