<div *ngIf="lang != null">

  <div class="light-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{lang.lorem}}
        </div>
        <div class="col-sm white-bg">
          <form class="form-signin">
            <div class="text-center mb-4">
              <img class="mb-4" src="assets/imgs/logo_name_blue.png" alt="" class="logoLarge">
              <h1 class="h3 mb-3 font-weight-normal">{{lang.createAccount}}</h1>
              <!--
              <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a
                  href="https://caniuse.com/#feat=css-placeholder-shown">Works
                  in latest Chrome, Safari, and Firefox.</a></p>
                  -->
            </div>

            <div class="form-group">
              <label for="user">{{lang.user}}</label>
              <input type="user" class="form-control" id="user" aria-describedby="userHelp" placeholder={{lang.user}}>
            </div>

            <div class="form-group">
              <label for="email">{{lang.email}}</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder={{lang.email}}>
            </div>

            <div class="form-group">
              <label for="pass">{{lang.pass}}</label>
              <input type="pass" class="form-control" id="pass" aria-describedby="passHelp" placeholder={{lang.pass}}>
            </div>
            
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="accept">{{lang.iAccept}}
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{lang.signIn}}</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; {{lang.since}}</p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="white-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm">
          {{lang.languages}}
          <p>
            <button type="button" class="btn btn-outline-primary">{{lang.english}}</button>
          </p>
        </div>
      </div>
    </div>
  </div>

</div>